<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clock Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="navbar navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="#">DANI WORLD</a>
    </div>
    <div class="container-fluid m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>