@page
@model ClockStore.Pages.OrderCompletedModel

<h2>Cảm ơn!</h2>
<p>Cảm ơn bạn đã đặt hàng.</p>
<p>Mã đơn hàng của bạn là: @Model.OrderId</p>
<p>Chúng tôi sẽ sớm giao hàng cho bạn.</p>
<a class="btn btn-primary" asp-controller="Home">Quay lại trang chủ</a>