.pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #dee2e6;
    text-decoration: none;
    color: #212529;
    margin-right: -1px; /* Loại bỏ khoảng cách giữa các nút */
}

.pagination a:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination a:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.pagination a:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination a.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
    z-index: 1;
}

.pagination a.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}